body {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	border: 1px solid;
	padding: 0.2em;
	border-radius: 0.25em;
	background-color: bisque;
}

.ticket {
	width: 8em;
	display: inline-block;
	border: 0.1em solid;
	background-color: beige;

	border-radius: 0.5em;

	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 1em;
	padding-top: 1em;

	margin-left: 2em;

}

.leftCounter {
	font-size: 150%;
}

.golden-sparrow {
	font-size: 75%;
	font-weight: 900;
	/* padding: 0.5em;
	border-radius: 0.25em; */
}

.img {
	float: left;
}